<app-header title="dashboard"></app-header>
<h5>Users table:</h5>
<span class="text-muted float-right">
  Number of results: {{usersDataLength}}
</span>
<table class="table table-hover table-striped">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>
        <button class="btn btn-sm btn-block btn-danger">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
