<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="navbar-brand" src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo3.jpg" />
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigationBar" aria-controls="navigationBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navigationBar">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-muted" href="/">Logout</a>
      </li>
    </ul>
  </div>
</nav>
