<form class="">
  <img src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo3.jpg" />

  <div class="form-group row">
    <input #username type="text" placeholder="Username*" class="form-control text-center">
  </div>
  <div class="form-group row">
    <input #password type="password" placeholder="Password*" class="form-control text-center">
  </div>
  <button type="button" class="btn btn-block btn-primary" (click)="login(username, password)">
    <small>LOGIN TO MY ACCOUNT</small>
  </button>

  <div class="text-center">
    <small class="text-muted">Copyright 2020</small>
  </div>
</form>
