
form {
  width: 50%;
  padding: 9%;
  margin-top: 7%;
  margin-left: 26%;
  background-color: #fff;
  box-shadow: #ccc 3px 3px 35px;

  img {
    width: 100%;
    margin-bottom: 15%;
  }

  input {
    border-width: 0;
    border-bottom-width: 1px;
    margin-bottom: 3%;
  }

  button {
    text-transform: uppercase;
    font-weight: bold;
  }

  div.text-center {
    margin-top: 5% !important;
  }
}

@media only screen and (max-width: 800px) {
  form {
    width: 100%;
    margin-left: 0%;
    margin-top: 30%;
    box-shadow: none;
  }
}
