<h4>Welcome to your {{title}}</h4>
<p>Here, you will find a basic list of all the users of the system. Take note
  that this is only a demo application, thus certain actions will not evaluate to a
  specific process.</p>
<p>The application is broken down into multiple components. These components can be found
  in the <em>src/app/component</em> folder. Services provide you with a way to connect to
  RESTful APIs that reside in another server. The API endpoints are being served from
  <em>Mocki</em>, a platform for creating mock APIs. These services can be found in
  <em>src/app/service</em>. Furthermore, an interface was created to provide a struture for
  the user data type. These interfaces can be though of as models and can be found in
  <em>src/app/interface</em></p>
